<p>
  <strong>Tüküren:</strong>
  <%= comment.commenter %>
</p>
<p>
  <strong>Tükürdüğü:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Seek and destroy', [comment.article, comment], method: :delete, data: { confirm: 'sikcen mi bea?'} %>
</p>
