<h1>Epsini listeliyom bea</h1>

<%= link_to 'Yeni oluştur bea', new_article_path %>

<table>
  <tr>
    <th>Title bea</th>
    <th>Text bea</th>
    <th colspan="2"></th>
  </tr>

  <% @article.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Göster bea', article_path(article) %></td>
    <td><%= link_to 'Düzenle bea', edit_article_path(article) %></td>
    <td><%= link_to 'Sik gitsin bea', article_path(article), method: :delete, data: { confirm: 'Emin misin bea?'} %></td>
  </tr>
  <% end %>
</table>
