<p>
<strong>Title bea:</strong>
<%= @article.title %>
</p>

<p>
<strong>Text bea</strong>
<%= @article.text %>
</p>

<h2>Tükürülen yorumlar bea</h2>
<%= render @article.comments %>

<h2>Yorum tükür bea</h2>
<%= render 'comments/form' %>

<%= link_to 'Düzenle bea', edit_article_path(@article) %>
<%= link_to 'Geri dön bea', articles_path %>
